<a href="https://colab.research.google.com/github/SebastianoJGV/Unit-1.A/blob/main/ProgramPractise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# G11 Computer Sciences

# Programming Practise #1

Write a program calculating the addition of all integer numbers from 0-2021

In [ ]:
n=int(input("Enter A integer larger than 0: "))
sum=0
for num in range (1, n + 1, 1):
  sum = sum + num

print ("Sum of 1 -",n, "numbers is", sum)

Write a program that caluculates the value of Y when the user enters a integer x:
Y=2*(x+3)-3

In [ ]:
n=int(input("Enter a integer x larger than 0: "))
y=0
y = 2*(n+3)-3
print (y, "= 2*(x+3)-3")

Enter a integer x larger than 0: 2
7 = 2*(x+3)-3

Write a program that takes the users name and grade, and then outputs his email address at UWC ISAK

In [ ]:
grade=int(input("Enter your grade as a number, eg. 10, 11, or 12: "))
first=input("Enter your First Name: ")
last=input("Enter your last name: ")
if grade==10:
  print(f"2024.{first}.{last}@uwcisak.jp")
elif grade==11:
  print(f"2023.{first}.{last}@uwcisak.jp")
else:
  print(f"2022.{first}.{last}@uwcisak.jp")

Enter your grade as a number, eg. 10, 11, or 12: 11
Enter your First Name: Sebastiano
Enter your last name: Giannelli
2023.Sebastiano.Giannelli@uwcisak.jp

Convert Fahrenheit To Celcius

In [ ]:
f=int(input("Enter a integer for the temperature in fahrenheit: "))
n=0
n=(f-32)*5/9
print(f"{f} Fahrenheit is equal to {n} Celcius")

Enter a integer for the temperature in fahrenheit: 32
32 Fahrenheit is equal to 0.0 Celcius

Convert Miles to Kilometres

In [ ]:
f=int(input("Enter a integer for the distance in miles: "))
n=0
n=f*1.60934
print(f"{f} Miles is equal to {n} Kilometres")

Enter a integer for the distance in miles: 1
1 Miles is equal to 1.60934 Kilometres

Write a program that solves the Quadratic equation given three variables
todo: rewrite for x in a way that we can work with

In [ ]:
a=int(input("Enter variable A: "))
b=int(input("Enter variable B: "))
c=int(input("Enter variable C: "))
n=0
n=(-b)

Write a program to reverse a number
todo: why tf does it return 0 every time

In [11]:
def reverse(n):
  rem=0
  while(n>0):
    print("Calculating")
    print(n)
    d=n%10
    n=int (n/10)
    rem=rem*10+d
    print(rem)
  return rem
x=int(input("Enter a number: "))
r=reverse(x)
print("number: ", x)
print("Reverse: ", r)

Enter a number: 123
Calculating
123
3
Calculating
12
32
Calculating
1
321
number:  123
Reverse:  321

Write a program that asks the user for their name, age, nationality and produces a greeting message such as “Welcome John Doe you are 30 years old and a national of Colombia”

In [ ]:
name=input("Enter your name: ")
age=input("Enter your Age: ")
g=input("Enter you're country of origin: ")
print(f"Welcome {name}, you are {age} years old and a national of {g}.")

Enter your name: Sebastiano
Enter your Age16
Enter youre nationality: canada
Welcome Sebastiano, you are 16 years old and a national of canada.

Create a program that converts from one unit to another

In [ ]:
inun=input("Enter the original unit, enter J for joules, and W for watt hours: ")
jw=int(input("How many watts or joules? "))
if inun == "J":
  n=jw%3600
elif inun == "W":
  n=jw*3600
print(f"{jw}{inun} is equal to {n}")

Enter the original unit, enter J for joules, and W for watt hours: J
How many watts or joules? 1
1J is equal to 3600